# Data Types and structure

1. What are data structures, and why are they important3 ?
  Data structure is a way of organising and storing data so that it can be accessed and manipulated effeciently, it is importand to simplify data manipulation, it also helps in optimize searching and sorting operations.

2. Explain the difference between mutable and immutable data types with
  examples?
  In mutable datatypes we can modify the data after it was created and in immutable data we cannot modify the data after creation.

In [ ]:
# for example
# list are mutable
num = [23, 24, 56, 67]
num

[23, 24, 56, 67]

In [ ]:
num[2] = 1
num

[23, 24, 1, 67]

In [ ]:
num1 = (23, 24, 56, 67)
num1

(23, 24, 56, 67)

In [ ]:
num1[3] = 1
num

TypeError: 'tuple' object does not support item assignment

3. What are the main differences between lists and tuples in Python?
  The main difference between list and tuple is that list are mutable and tuples are immutable.

4. Describe how dictionaries store data?
  Dictionary stores data as key value pair.

5. Why might you use a set instead of a list in Python?
   when unique collection of elements are required we use set and also when we don't want duplicate values. set is used when we need mathmatical operations like union, interaction, difference.

6. What is a string in Python, and how is it different from a list?
  stirng is a sequence of character represent and manipulate textual data. string is immutable and list are mutable string is represent by " " and list are represent by[] in which we can store any kind of data.

7.  How do tuples ensure data integrity in Python?
  Tuples are immutable to ensures thta their content remain constant this ensure data intigrity and reliablity.

8. What is a hash table, and how does it relate to dictionaries in Python?
   A hash table is a data structure that stores key-value pairs where each key is unque and associated with a value.

9. Can lists contain different data types in Python?
  yes list can cantains any kind of data.

10. Explain why strings are immutable in Python?
   stings are immutable in python for security memory effeciency and thread safty.

11. What advantages do dictionaries offer over lists for certain tasks?
  Dictionaries offers easy and faster way of searching elements then list.

12. Describe a scenario where using a tuple would be preferable over a list?
   Tuples would be used over a list where we don't want to change the data, it always remain same and one only read it.

13. How do sets handle duplicate values in Python?
   Sets doesn't allow duplicate values, so it automatically remove such value.

14. How does the “in” keyword work differently for lists and dictionaries?

15. Can you modify the elements of a tuple? Explain why or why not?
   we cannot modify the tuple beause tuples are immutable which means it cannot change once it was created.

16. What is a nested dictionary, and give an example of its use case?
   A nested dictionary is a dictionary where the values themself are dictionary, it is use for the complex data structure.

17. Describe the time complexity of accessing elements in a dictionary?

18. In what situations are lists preferred over dictionaries?
   In situations where order of elements and frequently perform operations needed list preffer over dictionary.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
   Dictionary considered as unordered  because we can add any kind of data in it.

20. Explain the difference between a list and a dictionary in terms of data retrieval?
   Dictionary quickly access value using unique keys while list acces value according to their position in a sequence.

# practicals

In [ ]:
# 1. Write a code to create a string with your name and print it?
Name = "Palak Patel"
Name

'Palak Patel'

In [ ]:
# 2. Write a code to find the length of the string "Hello World"?
a = "Hello World"
len(a)

11

In [2]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
str = "python programming"
str[:3]

'pyt'

In [3]:
# 4. Write a code to convert the string "hello" to uppercase?
str = "hello"
str.upper()

'HELLO'

In [4]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?
str = "I like apple"
str.replace("apple", "orange")

'I like orange'

In [6]:
# 6. Write a code to create a list with numbers 1 to 5 and print it?
num = [1, 2, 3, 4, 5]
num

[1, 2, 3, 4, 5]

In [17]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]?
num1 = [1, 2, 3, 4]
num1.append(10)
num1

[1, 2, 3, 4, 10]

In [23]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4s, 5]?
a = [1, 2, 3, "4s", 5]
a.remove(3)
a

[1, 2, '4s', 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [25]:
lis = ["a", "b", "c", "d"]
lis
lis[1]

'b'

In [28]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50]?

lis1 = [10, 20, 30, 40, 50]
lis1.reverse()
lis1

[50, 40, 30, 20, 10]

In [30]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it?
Tup = (100, 200, 300)
Tup

(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

In [31]:
Ele = ("red", "green", "blue", "yellow")
Ele[1:]

('green', 'blue', 'yellow')

In [34]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)?
num = (10, 20, 5, 15)
min(num)

5

In [35]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?
name = ("dog", "cat", "rabbit")
name.index("cat")

1

In [38]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?
fruits =("apple", "orange", "kiwi")
if "kiwi" in fruits:
  print("yes kiwi in fruits")
else:
  print("no kiwi is not in fruits" )

yes kiwi in fruits

In [39]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

alpha = {"a", "b", "c"}
alpha

{'a', 'b', 'c'}

In [41]:
# 17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
num = {1, 2, 3, 4, 5}
num.clear()
num

set()

In [42]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}?
ab = {1, 2, 3, 4}
ab.remove(4)
ab

{1, 2, 3}

In [43]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
x = {1, 2, 3}
y = {3, 4, 5}
x|y

{1, 2, 3, 4, 5}

In [44]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
x = {1, 2, 3}
y = {3, 4, 5}
x&y

{3}

In [47]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
info = {"name" : "palak","age" : 30, "city" : "kanpur"}
info

{'name': 'palak', 'age': 30, 'city': 'kanpur'}

In [48]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
id = {"name" : "John", "age" : 25}
id

{'name': 'John', 'age': 25}

In [54]:
id.update({"country" : "USA"})
id

{'name': 'John', 'age': 25, 'country': 'USA'}

In [55]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
ab = {"name" : "Alice", "age" : 30}
ab["name"]

'Alice'

In [56]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
id = {"name" : "Alice", "age" : 22, "city": "New York"}
del id["age"]
id

{'name': 'Alice', 'city': 'New York'}

In [62]:
# 25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
id2 = {"name": "Alice", "city": "Paris"}
"city" in id2

True

In [63]:
id2 = {"name": "Alice", "city": "Paris"}
id2.get("city")

'Paris'

In [64]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all?
num = [("a", 1), ("b", 2), ("c", 3)]
dict(num)

{'a': 1, 'b': 2, 'c': 3}

In [65]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)
num = [45, 34, 65, 12, 8]
num

[45, 34, 65, 12, 8]

In [67]:
num.sort()
num

[8, 12, 34, 45, 65]

In [73]:
# 28. Write a code to create a list with strings and print the element at the third index.

name = ["Ajay", "Palak", "Sarita", "Rahul", "Jhon"]
name[3]

'Rahul'

In [75]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"a" : 1, "b" :2, "c" : 3}
dict2 = {"ab" : 11, "cd" : 22, "ef" : 33}
dict1.update(dict2)
dict1

{'a': 1, 'b': 2, 'c': 3, 'ab': 11, 'cd': 22, 'ef': 33}

In [77]:
#30. Write a code to convert a list of strings into a set.
name = ["Ajay", "Palak", "Sarita", "Rahul", "Jhon"]
set(name)
name

['Ajay', 'Palak', 'Sarita', 'Rahul', 'Jhon']